<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= college.title%></h5>
                <p class="card-text"><%= college.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= college.location%></li>
                <li class="list-group-item">Submitted by <%= college.author.username%></li>
            </ul>
            <%  if( currentUser && college.author.equals(currentUser._id))  {%>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/colleges/<%=college._id%>/edit">Edit</a>
                <form class="d-inline" action="/colleges/<%=college._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>
</div>